<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>SUBMITTED INFORMATION</h1>
    <table>




        <% for(var key in userData) { %>
            <tr>
                <td><%= key %>:</td>
                <td><%= userData[key] %></td>
            </tr>
        <% } %>
       
    </table>
    <a href="/"><button type="submit" action="/">Go Back!</button></a>
</body>
</html>